/* Template style */

body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #333;
}

#main-container {
  position: absolute;
  width: 600px;
  height: 250px;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

#collapsed-state {
  background-color: transparent; 
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 250px;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  overflow:hidden;
}

#expanded-state {
  position: absolute;
  box-sizing: border-box;
  /* width: 100%; */
  width: 300px;
  height: 100%;
  top: 0;
  /* left: 0; */
  left: 300px;
  background-color: #f18b5d; 
  z-index: 200;
  border: 1px solid black;
  display: block;
  overflow:hidden;
}

#expanded-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  background-color: #FFF;
  opacity: 0;
  z-index: 400;
  display: none;
}

#collapsed-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background-color: #FFF;
  opacity: 0;
  z-index: 400;
  display: none;
}

.button {
  position: absolute;
  cursor: pointer;
  z-index: 500;
  width: 62px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

#expand-button {
  bottom: 5px;
  right: 5px;
  display: none;
  background-image: url(tab_expand.png);
}

#collapse-button {
  top: 5px;
  left: 5px;
  display: none;
  background-image: url(tab_close.png);
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

/* Creative specific style */

img {
  position: absolute;
  opacity: 0;
}
#scene1{
  top: 0px;
  left: 0px;
  opacity:1;
}

#scene2{
  top: 0px;
  right: -50px;
  opacity:1;
}


#copy1a {
  top: 250px;
  left: 8px;
  opacity: 1;
}

#copy1b {
  top: 250px;
  left: 15px;
  opacity: 1;
}

#copy2a {
  top: -100px;
  left: 12px;
  opacity: 0;
}

#copy2b {
  top: 300px;
  left: 12px;
  opacity: 0;
}

#SWEIG_logo{
  top: 192px;
  left: 80px;
  opacity: 1;
}

#FYOR {
  top: 6px;
  left: 73px;
  opacity: 1;
}

.fyor{
  background-image:url(FYOR.png);
  background-repeat: no-repeat;
  position: absolute;
}

#fyor_text_find{
    width: 120px;
    height: 86px;
    background-position: 0 0;
    top: -86px;
    left: 74px;
}

#fyor_text_yourown{
    width: 90px;
    height: 22px;
    background-position: -21px -85px;
    top: 250px;
    left:96px;
    /* end up to 260px */
}

.fyor_rhythm {
  top: 250px;
  height: 39px;
}

#fyor_text_rhythm_r{
    width: 19px;
    background-position: -24px -107px;
    left: 98px;
}
#fyor_text_rhythm_h{
    width: 20px;
    background-position: -44px -107px;
    left: 118px;
}
#fyor_text_rhythm_y{
    width: 21px;
    background-position: -64px -107px;
    left: 138px;
}
#fyor_text_rhythm_t{
    width: 20px;
    background-position: -84px -107px;
    left: 158px;
}
#fyor_text_rhythm_hh{
    width: 20px;
    background-position: -105px -107px;
    left: 178px;
}
#fyor_text_rhythm_m{
    width: 26px;
    background-position: -127px -107px;
    left: 200px;
}

#fyor_text_underline{
  width: 0px;
  height: 6px;
  background-position: -28px -145px;
  left: 102px;
  top: 162px;
}

#plunger_1{
  left: 160px;
  top: 30px;
}

#plunger_2{
  left: 204px;
  top: 10px;
}

